body {
  background: peachpuff;
}
div{
  min-height: 500px;
  min-width: 500px;
  margin: 10px;
  padding:20px;
}

.a{
  border:5px solid black;
  margin-bottom: 20px;
}

.b , .c , .d , .e , .f , .g , .h{
  border:5px solid black;
  margin-bottom: 20px;
}


@media (min-width:600px){
  .container{
    display: flex;
    flex-direction: column;
    background: gray;

}
}

